iframe.jobber-work-request {
  width: 100%;
  min-height: max(1103px);
  height: 100%;
  max-width: 760px;
  background: #ffffff;
  border-radius: 8px;
  border: 0;
  padding: 10px;
  color: #ffffff !important;
}

.jobber-form-wrapper {
  display: flex;
  align-items: center;

  justify-content: center;
}
